body {
  background-image: url(https://i.ibb.co/Pcp7hCh/5848506.jpg);
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  
}
.topnav {
  overflow: hidden;
  background-color: #333;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}



.sidenav {
  width: 190px;
  
  z-index: 1;
  top: 20px;
  left: 10px;
  background:#333;
  overflow-x: hidden;
  padding: 8px 0;
  grid-column: 1 / 2;
}
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
}
.sidenav a:hover {
 
    background-color: #ddd;
    color: black;
}
.main {
  margin-left: 140px;
  font-size: 28px; 
  padding: 0px 10px;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.move_down {
  text-align: center;
  position:relative; bottom: -320px; 

  
}
summary {
  font-size: 1.25rem;
  font-weight: 600;
  background-color: #fff;
  color: #333;
  padding: 1rem;
  margin-bottom: 1rem;
  outline: none;
  border-radius: 0.25rem;
  text-align: left;
  cursor: pointer;
  position: relative;
}
details > summary::after {
  position: absolute;
  content: "+";
  right: 20px;
}
details[open] > summary::after {
  position: absolute;
  content: "-";
  right: 20px;
}
details > summary::-webkit-details-marker {
  display: none;
}
.make_faq_bigger
{
  font-size: 50px;
}
.hz_logo
{
  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    position: relative;
    top: -45px;
    left: 680px;
    right: 50px;
    max-width: 5%;
    width: 42px;
    height: 42px
 
}
h6 {
  font-size: large;
  text-align: center;
}
h1{
  text-align: center;
}






  
 
  
  
  .tesla1 {
    width: 600px;
    position: relative;
    top: -380px;
    left: 227px;
    width: 1200px;
    text-align: left;
  }
  .tesla2 {
    width: 600px;
    position: relative;
    top: -420px;
    left: 227px;
    width: 1200px;
    text-align: left;
  }
  .tesla3 {
    width: 600px;
    position: relative;
    top: -460px;
    left: 227px;
    width: 1200px;
    text-align: left;
  }
  .tesla4 
  {
    width: 600px;
    position: relative;
    top: -500px;
    left: 227px;
    width: 1200px;
    text-align: left;
  }
  
  
  .bandai {
    width: 600px;
    position: relative;
    top: -500px;
    left: 227px;
    width: 1200px;
    text-align: left;
  }
.bandai2 {
  width: 600px;
    position: relative;
    top: -540px;
    left: 227px;
    width: 1200px;
    text-align: left;
  }
  .bandai3 {
    width: 600px;
    position: relative;
    top: -580px;
    left: 227px;
    width: 1200px;
    text-align: left;
  }
  .bandai4 {
    width: 600px;
    position: relative;
    top: -620px;
    left: 227px;
    width: 1200px;
    text-align: left;
  }



.sam1 {
  position: relative;
  top: -600px;
  left: 227px;
  width: 1200px;
  text-align: left
}
.sam2 {
  position: relative;
    top: -640px;
    left: 227px;
    width: 1200px;
    text-align: left;
}
table, th, td {
  border: 1px solid;
 
}
.parent {
  display: grid;
  grid-template: auto 1fr auto /auto 1fr auto;
  column-gap: 10px;
  row-gap: 10px;
}
.header2{
padding: 2rem;
grid-column: 1/4;
}
.left-side {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  column-width: 200px;
}
main {
  grid-column-start: 2;
grid-column-end: 3;
grid-row-start: 2;
grid-row-end: 3;
padding: 40px;

}
.right-side {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  column-width: 200px;
}
footer{
  grid-column: 1 / 4;
  text-align:center;
}
.profile {
  text-align: center;
}
.profile-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.probar {
  width: 965px;
  height: 50px;
}